body {
  background-image: url(./assets/images/bg.jpg);
}

#donuts-countdown {
  width: 300px;
  max-width: 300px;
}

.number {
  font-family: "Montserrat";
  color: white;
  font-size: 60px;

  margin: 8px;
}

#countdown {
  display: flex; /* Usa flex per centrare gli elementi */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;
}

#countdown p {
  font-family: "Montserrat";
  color: white;
  font-size: 25;
  margin: 5px;
}

#countdown div {
  justify-items: center;
  position: absolute;
}
