main {
  text-align: center;
  margin-top: 80px;
}
#answer #question {
  margin: 0;
  padding: 0;
}
#question p {
  font-size: 2.6rem;
  font-family: "Outfit", sans-serif;
  margin: 1em 25px;
  /* margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%; */
}
strong {
  font-weight: bold;
}

#answers button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 750;
  color: whitesmoke;
  margin: 1%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 50px 50px;
  width: 20rem;
  height: 62px;
  text-align: center;
  background-color: rgb(128, 128, 128, 0.1);
  cursor: pointer;
}
.selectedButton {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 750;
  color: whitesmoke;
  margin: 1%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 50px 50px;
  text-align: center;
  background-color: #d20094;
}
#goOn {
  color: whitesmoke;
  padding-inline: 50px;
  padding-block: 12px;
  margin-top: 35px;
  font-weight: 600;
  font-size: 18px;
  font-family: "outfit";
  background-color: transparent;
  box-shadow: 0px 0px 25px 3px #4f37d7;
  border: solid white;
  cursor: pointer;
}
/* section {
  text-align: center;
  padding-bottom: 5rem;
} */

section p {
  font-weight: 400;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  letter-spacing: 2px;
  margin-top: 70px;
}

section span {
  color: #900080;
}
#positive {
  background-color: green;
}
#negative {
  background-color: red;
}
.singleAnswer {
  vertical-align: top;
}

/* CSS TIMER */

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#countdown {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#countdown div {
  justify-items: center;
  position: absolute;
}

#donuts-countdown {
  max-width: 100px;
  max-height: 100px;
}

.second-remaining {
  font-family: "Montserrat";
  color: white;
  font-size: 6px;
  margin: 0;
  padding: 0;
}

#number {
  font-family: "Montserrat";
  color: white;
  font-size: 28px;
  margin: 0;
  padding: 0;
}
