body {
  background-image: url(../images/bg.jpg);
  margin: 40px 20%;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  width: 100px;
}

main {
  text-align: center;
  margin-top: 80px;
}

#question p {
  font-size: 2.5em;
  font-family: "Outfit", sans-serif;
}
strong {
  font-weight: bold;
}

#answers button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 750;
  color: whitesmoke;
  margin: 1%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 50px 50px;
  width: 400px;
  height: 60px;
  text-align: center;
  background-color: rgb(128, 128, 128, 0.1);
  cursor: pointer;
}
.selectedButton {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 750;
  color: whitesmoke;
  margin: 1%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 50px 50px;

  width: 29rem;
  height: 90px;

  text-align: center;
  background-color: #d20094;
}
#goOn {
  color: whitesmoke;
  padding-inline: 60px;
  padding-block: 15px;
  font-weight: 600;
  font-size: 25px;
  font-family: "outfit";
  background-color: transparent;
  box-shadow: 0px 0px 25px 3px #4f37d7;
  border: solid white;
  margin-left: o;
  cursor: pointer;
}
footer {
  text-align: center;
}

footer p {
  font-weight: 400;
  font-size: 25px;
  font-family: "Outfit", sans-serif;
  letter-spacing: 2px;
}

footer span {
  color: #900080;
}
#positive {
  background-color: green;
}
#negative {
  background-color: red;
}
.singleAnswer {
  vertical-align: top;
}
