/* Stili generali */
/*body {
    background: url("/assets/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
} 

/* Contenitore centrale */
.container {
    display: table-cell;
    vertical-align: middle; 
    width: 60%;
    margin: 0 auto;
    padding: 6em;
    text-align: center;
}

/* Logo */
/*.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 140px;
    padding: 3em;
}

/* Titoli e testo */
h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    font-size: 1.3em;
    margin: 15px 0;
}

/* Contenitore stelle */
.rating-container {
    display: inline-block;
    margin: 30px 0;
}

/* Stelle */
.star {
    width: 45px;
    height: 45px;
    background-image: url("/assets/images/star.svg");
    background-size: cover;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(11%) sepia(32%) 
            saturate(5000%) hue-rotate(220deg) brightness(40%) contrast(100%);
}

/* Quando passo sopra una stella, illumino solo fino a quella */
.star.hover {
    filter: none;
}

/* Quando clicco su una stella, illumino solo fino alla selezionata */
.star.selected {
    filter: none;
}

/* Input commento */
input {
    width: 90%;
    padding: 15px;
    background: transparent;
    border: none;
    border-bottom: 3px solid #ff0099;
    color: white;
    outline: none;
    font-size: 18px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* Pulsante More Info */
button {
    display: block;
    margin: 50px auto 0 auto; 
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    background: cyan;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.8);
}

button:hover {
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 1);
}



